:root {
    --red: #6A0C04 ;
    --brown: #AA7B4F ;
    --neutral: #CABFAD ;
    --blue: #3A3F5F ;
    --text-100: #32312D ;
    --text-200: #9d9d9d;
}

body, html {
    background: #E7E6E2 ;
    color: var(--text-100);
    height: 100vh
}

a {
    text-decoration: none;
    font-size: 12px !important;
}

a:hover {
    color: var(--brown) !important
}
.nav {
    position: relative;
    border-bottom: 1px solid var(--neutral)
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px !important;
    color: var(--brown) !important;
}

.nav-links {
    gap: 24px;
}

.link-primary {
    text-transform: uppercase;
    font-size: 10px ;
    font-weight: 500;
    letter-spacing: .12em;
    color: var(--brown) !important
}

.relative {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image-wrapper {
    height: 100%;
    aspect-ratio: 1 / 1;

}

.brown{
    color: var(--brown)
}
.uppercase {
    text-transform: capitalize
}

.ul {
    list-style-type: decimal-leading-zero;
    color: var(--text-100);
    list-style-position: inside;
}

.header-logo {
    font-size: 25vmin;
    font-weight: 400;
    text-align: center;
    width: 100%;
    position: absolute;
    top:32%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.card-image-placeholder-album {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--blue);
    margin-top: 15vmin;
    z-index: 1
}

.record-card {
    border: none !important;
    background: none !important;
    color: var(--text-100) !important
}

.vinyl-image-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative
}

.square-image {
    height: 90%;
    width: 90%;
    z-index: 1 !important;
    position: relative
}

.square-image-full {
    height: 100%;
    width: 100%
}

.vinyl-object {
    height: 80%;
    aspect-ratio: 1/1;
    background: black;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.underlined-link {
    font-size: 15px !important;
    color: var(--text-100);
    border-bottom: 1px solid var(--text-100)

}

.vinyl-details {
    width: 90%;
}

p {
    margin: 0 !important
}

.placeholder {
    aspect-ratio: 1/1
}

label {
    font-size: 14px;
    font-weight: 200;
}

td {
    background: none;
    border: none;
}

tr {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
}

input {
    background: none;
    border: 1px solid var(--neutral);
    border-radius: 8px;
    width: 100%;
    margin: 0 0 20px 0
}


.hidden {
    display: none !important
}

.submit {
    background: none;
    border: none !important;
    border-radius: 100%;
}

.song-form > input {
    border: none;
    padding: 0;
    margin: 0;
    
}

.song-form {
    padding: 1rem 0;
    margin: 0;
    border-bottom: 1px solid var(--text-200)
}

.secondary-color {
    color: #9d9d9d !important;
    letter-spacing: .12em;
    font-size: 12px;
}

.song-container {
    padding: .5rem 0;
    margin: 0;
    border-bottom: 1px solid var(--text-200);
    text-transform: capitalize

}

.song-title, .song-time {
    color: var(--text-100)
}

.artist {
    font-weight: 100 !important;
    font-size: 22px;
}

.subtitle-shown {
    padding: 0 !important;
    margin: 0 !important;
}

.delete-button {
    border: none;
    background: none;
}

.width-full {
    width: 100%;
}

.non-active {
    border: 1px solid var(--brown) !important;
    color: var(--brown) !important;
}

.bubble-wrapper {
    border: 1px solid var(--brown);
    color: var(--brown);
    padding: 1px 13px;
    border-radius: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .12em
}

.non-active {
    margin: 0
}

.add-genre-title {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: .12em;
    color: var(--text-200);
    cursor: pointer;
}

.all-genres {
    border-top: 1px solid var(--brown)
}

